body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4d467
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container{
  background-image: url(./assets/nba.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 400px;
}

.player-card {
height: 400px;
& img {filter:blur(2px);
  transition: trasform 0.3s;}
& :hover {
  box-shadow: 3px 3px 20 px 5px rgba(0, 0, 0, 0.5);

  & img {transform: scale(0.9)};
  filter: none;
}



}